body {
 padding: 300px;
  text-align: center; 
  h3 {
    font-size: 50px;
  }
  h2 {
    font-size: 35px;
  }
  button {
    font-size: 25px;
  }
  ul {
    text-align: center;
    list-style-type: none;
    font-size: 25px;
  }
  
}
