
      body {
        margin: 0;
      }
      
      .header{
        background-color: #c3dda5;
        padding: 20px;
        text-align: center;
       
      }
      .topnav {
  overflow: hidden;
  background-color: #333;
}
.topnav a {
  float: left;
  display: block;
  color: #fff9f9;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.topnav a:hover {
  background-color: #f3ecec;
  color: rgb(0, 0, 0);
}
.container {
  padding: 45px;
  padding-left: 60px;
  padding-right: 60px;
  text-align: justify;}

/* Future 2 bottom columns */
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.blue-column {
  background-color: rgb(113, 90, 165);
  height: 500px;
  text-align: center;
}

.green-column {
  background-color: rgb(105, 146, 105);
  height: 500px;
  text-align: center;
}

/*responsive layout*/
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
}
.footer {
  background-color: #b7b7c2;
  padding: 10px;
  text-align: center;
}
 